body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: grid;
  flex-direction: column;
  min-height: 95vh;
}

.main {
  flex:1;
}

span {
  color: midnightblue;
}

.cards img {
  width: 100%;
}

@media (min-width: 1201px) {
  h1 {
    font-size: 8vh;
    margin-bottom: 4vh;
    width: 50%;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5vw;
    height: 30vh;
    align-items: center;
  }
  
  
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2vw;
  }
  
}

@media (min-width: 681px) and (max-width: 1280px) {
  h1 {
    font-size: 8vh;
    margin-bottom: 4vh;
    width: 60%;
  }
  
  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5vw;
    height: 30vh;
    align-items: center;
  }
  
  
  .card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2vw;
  }
  
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 5vh;
    margin-bottom: 2.5vh;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 5vw;
    height: 30vh;
    align-items: center;
  }
  
  
  .card {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
  }

  p {
    text-align: justify;
  }
  
}


footer {
  margin-top: auto;
  text-align: right;
  color: midnightblue;
}